{% extends "layout.twig" %}
{% block content %}
<h2>{% trans %}Edit deliverer{% endtrans %}</h2>
<ul class="possibilities">
	<li><a href="{{ path('admin.deliverer.index') }}" class="button return"><span></span></a></li>
	<li><a href="#deliverer" rel="submit" class="button"><span>{% trans %}Save and finish{% endtrans %}</span></a></li>
</ul>
{{ form(form) }}
{% endblock %}