{% extends ['layout.twig'] %}
{% block content %}
    <h2>{% trans %}Shipping methods{% endtrans %}</h2>

    <ul class="possibilities">
        <li><a href="{{ path('admin.shipping_method.add') }}" class="button"
               title="{% trans %}Add{% endtrans %}"><span>{% trans %}Add{% endtrans %}</span></a></li>
    </ul>

    {{ datagrid_renderer(datagrid) }}

{% endblock %}