{% extends "layout.twig" %}
{% block content %}
    <h2>{% trans %}Currencies{% endtrans %}</h2>

    <ul class="possibilities">
        <li><a href="{{ path('admin.currency.add') }}" class="button"
               title="{% trans %}Add{% endtrans %}"><span>{% trans %}Add{% endtrans %}</span></a></li>
    </ul>

    {{ datagrid_renderer(datagrid) }}

{% endblock %}