{% include 'header.twig' %}
<div class="container-fluid">

    <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <div id="content" class="row layout-boxes">
        <div class="layout-box layout-box-option-header-false layout-box-option-span-3" id="layout-box-11">

        </div>

        <div class="panel panel-default layout-box layout-box-option-header-true" id="layout-box-1">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body">
                Categories
            </div>
        </div>
        <div class="panel panel-default layout-box" id="layout-box-4">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">4</h3>
            </div>
            <div class="panel-body">
                4
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-8">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">8</h3>
            </div>
            <div class="panel-body">
                8
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-2">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">2</h3>
            </div>
            <div class="panel-body">
                2
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-9">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">Promotions</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-circle" data-src="holder.js/140x140" alt="140x140"
                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                             style="width: 140px; height: 140px;">

                        <h2>Heading</h2>

                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                            nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum
                            at eros. Praesent commodo cursus magna.</p>

                        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle" data-src="holder.js/140x140" alt="140x140"
                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                             style="width: 140px; height: 140px;">

                        <h2>Heading</h2>

                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                            nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac
                            cursus commodo, tortor mauris condimentum nibh.</p>

                        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle" data-src="holder.js/140x140" alt="140x140"
                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                             style="width: 140px; height: 140px;">

                        <h2>Heading</h2>

                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
                            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-3">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">3</h3>
            </div>
            <div class="panel-body">
                3
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-6">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">Cart</h3>
            </div>
            <div class="panel-body">
                Cart contents
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-7">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">7</h3>
            </div>
            <div class="panel-body">
                7
            </div>
        </div>
        <div class="panel panel-default layout-box layout-box-option-span-1" id="layout-box-5">
            <div class="panel-heading layout-box-header">
                <h3 class="panel-title">5</h3>
            </div>
            <div class="panel-body">
                5
            </div>
        </div>
    </div>
</div>
{% include 'footer.twig' %}